body {
    font: 10px sans-serif;
}
.italic {
    font-style: italic;
}
/* d3-tip */
.d3-tip, .d3-tip-bubble{
  font-size: 12px;
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after, .d3-tip-bubble:after{
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after, .d3-tip-bubble.n:after{
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* d3-tip */
/* line */
.axis path,
.axis line {
    fill: none;
    stroke: none;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.axis text{
    font-size: 0.8em;
}
.y.axis path{
    stroke: #000;
    shape-rendering: crispEdges;
}
.y.axis line{
    fill:none;
    stroke:#ddd;
    stroke-width:1.5px;
    shape-rendering: crispEdges;
}
/* line */
.legend{
  font-size: 12px;
}
.italic{
  font-style: italic;
}
/* calendar */
.day {
  fill: none;
  stroke: none;
}
.month{
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  cursor: pointer;
}
.dayLable{
  fill: #000;
  font-size: 0.8em;
  text-anchor:right;
  cursor: pointer;
}
.weekly_bars_rects, .wow_bars_rects{
  fill:#ddd;
}
.weekly_bars_vals, .wow_bars_vals{
  font-size: 0.7em;
}
/* calendar */
/* barchart */
.xBars path, .yBars path{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axisBars text{
  font-size: 0.8em;
}
.yBars line{
    fill:none;
    stroke:#ddd;
    stroke-width:1px;
    shape-rendering: crispEdges;
}
/* barchart */
/* bubblechart */
.badge{
  margin: 5px 10px 5px 0;
  padding: 10px;
}
.legend_line{
  fill: none;
  stroke: #ddd;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.bubblechart_legend_label{
  text-anchor: end;
  font-size: 0.8em;
}
.d3-tip-bubble{
  font-size: 12px;
  width: 200px;
  line-height: 1.2;
  z-index:9999;
}
/* bubblechart */
