<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Social Power 1.0</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div id="d_followers"></div>
      <div id="d_tweets"></div>
      <div id="d_favorites"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h4>Twitter Followers gained every hour on <span class="today italic"></span></h4>
      <div id="d_followers_hr_bars"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h4>Twitter Followers gained every day and week</h4>
      <div id="d_followers_calender"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h4>Twitter Followers gained every Month</h4>
      <div id="d_followers_month_bars"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h4>Tweets by Mr Narendra Modi - Responses</h4>
      <div class="legend">Collection of 1000 Tweets between <span class="italic fromDate1kTweets"></span> and <span class="italic toDate1kTweets"></span></div>
      <div class="legend">Each bubble is a tweet. Color is an approximate indication of the category (as in the bars above). <span class="italic">Click</span> on a bubble to view the tweet.</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-7 col-xs-12">
      <div style="padding-top:10px;">
        <span>Bucket tweets based on &nbsp;</span>
        <div class="btn-group">
              <button class="btn btn-default active">Retweets</button>
              <button class="btn btn-default">Favorites</button>
              <button class="btn btn-default">categories</button>
              <button class="btn btn-default disabled">Sentiment</button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-5" >
      <div style="padding-top:10px;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search ... for ex Modi">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Clear</button>
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-1 col-xs-7">
      <div>&nbsp;</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div style="padding:10px 0;">
        <div id="bubblechart_legend"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div id="d_tweets_bubbles"></div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div id="d_tweets_wordcloud"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h4>Tweets by Mr Narendra Modi - Content</h4>
      <div class="legend">Collection of 1000 Tweets between <span class="italic fromDate1kTweets"></span> and <span class="italic toDate1kTweets"></span></div>
      <div id="d_"></div>
    </div>
    <div class="col-md-6 col-xs-12">
      <h4>Most Retweeted</h4>
      <div id="d_"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div style="padding-top:200px">&nbsp;</div>
      <footer>
        <p>Powered by <a href="https://gramener.com/" target="_blank" class="display"><span style="font-size:80%">GRAMENER.COM</span></a></p>
      </footer>
    </div>
  </div>
</div>



<script id="followers_count" type="text/html">
  <div class="element-item" style="background-color:white;width:100px">
    <p class="modipic"><img src="img/<%=user%>.jpg" class="img-rounded" width="100%" height="100%" /></p>
  </div>
  <div class="element-item">
    <div class="followers-header">Twitter Followers </div>
    <div id="followers" class="followers-number"><%=total%></div>
    <div class="today-followers-header">Today</div>
    <div id="todaysfollowers" class="today-followers-number"><%=today%></div>
    <div class="daily-avg-followers-header">Daily Avg</div>
    <div class="daily-avg-followers" id="avgfollowers"><%=daily_avg%></div>
    <div class="lineone"> </div>
    <div class="linetwo"> </div>
  </div>
</script>

<script id="tweets_count" type="text/html">
  <div class="element-item" style="background-color:#006AA4;width:250px;">
    <div class="followers-header">Tweets </div>
    <div id="tweetsnumber" class="tweets-number"><%=total%></div>
    <div class="today-tweets-header">Today</div>
    <div class="daily-avg-tweets-header">Daily Avg</div>
    <div class="today-tweets-number"><%=today%></div>
    <div class="daily-avg-tweets"><%=daily_avg%></div>
    <div class="lineone"> </div>
    <div class="linetwo"> </div>
  </div>
</script>

<script id="favorites_count" type="text/html">
  <div class="element-item" style="background-color:white;width:350px;color:black">
    <div class="retweets-icon" style="padding-left:20px; padding-top:12px;">
      <img src="img/retweet_icon.svg" width="40" height="40">
    </div>
    <div class="favorites-icon" style="padding-left:26px; padding-top:15px;">
      <img src="img/favorite_icon.svg" width="30" height="30">
    </div>
    <div class="avg-retweet-per-tweet">Avg retweets per tweet</div>
    <div class="avg-favorites-per-tweet">Avg favorites per tweet</div>
    <div class="linethree"> </div>
    <div class="retweets-avg"><%=avg_retweets%></div>
    <div class="favorites-avg"><%=avg_favorites%></div>
  </div>
</script>

<script id="" type="text/html">

</script>

<script id="" type="text/html">
  <h1>Top followers of <%= name %></h1>
  <ul>
    <% for (var follower_name in followers) { %>
        <li><%= follower_name %>: <%= followers[follower_name] %> tweets</li>
    <% } %>
  </ul>
</script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/countUp.js/dist/countUp.min.js"></script>
<script src="js/d3tip.js"></script>
<script src="js/linechart.js"></script>
<script src="js/calendarmap.js"></script>
<script src="js/barchart.js"></script>
<script src="js/bubblechart.js"></script>
<script src="js/d3cloud.js"></script>
<script src="js/wordcloud.js"></script>

<script>
  var current_date = new Date(),
      prev_date = new Date();
      prev_date.setDate(prev_date.getDate() - 1),
      f_count = _.template($('#followers_count').html()),
      t_count = _.template($('#tweets_count').html()),
      fv_count = _.template($('#favorites_count').html()),
      round = d3.format(".0f"),
      //user = decodeURIComponent(window.location.search.split('=')[1]),
      user = 'narendramodi',
      hoursewise_data_location = 'data/'+user+'_hourwise.js',
      tweets_data_location = 'data/'+user+'_tweets.js';

  var convertTime = function(serverdate) { return new Date(serverdate + " UTC"); },
      shortDate = d3.time.format("%d-%b-%y"),
      monthYearDate = d3.time.format("%b-%Y");

  $.getJSON(hoursewise_data_location)
    .done(function(data){
      var followers_data = {}, followers_average = [], tweets_data = {}, tweets_average = [], follwers_week = [];
      data = _.sortBy(data, 'date-time');
      data.map(function(d){ return d['dateTime'] = convertTime(d['date-time']); });

      groupby_date = _.groupBy(data, function(d){ return shortDate(d['dateTime']); });
      _.values(groupby_date).map(function(d, i){
          var first = d[0],
              last = d.slice(-1)[0],
              diff = last['followers'] - first['followers'];
              followers_average.push(diff);
              tweets_average.push(last['tweets'] - first['tweets']);
              follwers_week.push({'date': d.slice(-1)[0].dateTime, 'followers': diff });
              if(shortDate(d[0]['dateTime']) == shortDate(prev_date)){
                prev_f = d.slice(-1)[0];
              }
              if(shortDate(d[0]['dateTime']) == shortDate(current_date)){
                today_first = d[0];
                today_last = d.slice(-1)[0];
                today_data = d;
                today_data.unshift(prev_f);
              }
      });

      followers_data['user'] = f1 = user;
      followers_data['total'] = typeof today_last != 'undefined' ? today_last['followers'] : prev_f['followers'];
      followers_data['today'] = typeof today_last != 'undefined' ? today_last['followers'] - today_first['followers'] :0;
      followers_data['daily_avg'] = round(d3.mean(followers_average));

      $('#d_followers').html(f_count(followers_data));

      tweets_data['total'] = typeof today_last != 'undefined' ? today_last['tweets'] : prev_f['tweets'];
      tweets_data['today'] = typeof today_last != 'undefined' ? today_last['tweets'] - today_first['tweets'] :0;
      tweets_data['daily_avg'] = round(d3.mean(tweets_average));

      $('#d_tweets').html(t_count(tweets_data));

      var followers_hr = [];
      if(typeof today_data != 'undefined'){
        _.range(today_data.length).map(function(d){
          if(d < today_data.length-1){
            followers_hr.push({'date': today_data[d+1]['dateTime'],
                               'followers': today_data[d+1]['followers'] - today_data[d]['followers']});
          }
        });
      }

      var followers_month = [];
      groupby_month = _.groupBy(data, function(d){ return monthYearDate(d['dateTime']); });
      _.values(groupby_month).map(function(d, i){
        followers_month.push({'month': monthYearDate(d[0].dateTime), 'followers': d.slice(-1)[0].followers - d[0].followers});
      });

      linechart(followers_hr,'#d_followers_hr_bars');
      calendarmap(follwers_week,'#d_followers_calender');
      barchart(followers_month, '#d_followers_month_bars');
    });

  $.getJSON(tweets_data_location)
    .done(function(data){
      favorites_data = {};
      data = _.sortBy(data, 'created_at');

      //favorites_data['avg_retweets'] = round(d3.mean(_.pluck(data, 'retweet_count')));
      //favorites_data['avg_favorites'] = round(d3.mean(_.pluck(data, 'favorite_count')));

      rt = data.filter(function(d){ return d.text.split(' ')[0] != 'RT'; });

      favorites_data['avg_retweets'] = round(d3.mean(_.pluck(rt, 'retweet_count')));
      favorites_data['avg_favorites'] = round(d3.mean(_.pluck(rt, 'favorite_count')));

      $('#d_favorites').html(fv_count(favorites_data));

      var legends = ["States", "Schemes & Development", "Greetings", "Foreign Relations", "Activity Reporting"];

      bubblechart(data, legends, '#d_tweets_bubbles');
      wordcloud(data, '#d_tweets_wordcloud');
    });
</script>
<script>
  $(function () {
    $('.btn').popover({
      html:'true',
      container: 'body'
    });
  });
</script>
<script>
  var options = {
      useEasing : true,
      useGrouping : true,
      separator : ',',
      decimal : '.',
      prefix : '',
      suffix : ''
    };

  setTimeout(function(){
    followers_val = d3.select('#followers').text();
    todays_followers_val = d3.select('#todaysfollowers').text();
    avgfollowers_val = d3.select('#avgfollowers').text();
    tweetsnumber_val = d3.select('#tweetsnumber').text();

    var followers = new CountUp("followers", 0, followers_val, 0, 3.5, options);
    var today_followers = new CountUp("todaysfollowers", 0, todays_followers_val, 0, 3.5, options);
    var avg_followers = new CountUp("avgfollowers", 0, avgfollowers_val, 0, 3.5, options);
    var tweets = new CountUp("tweetsnumber", 0, tweetsnumber_val, 0, 3.5, options);

    followers.start();
    today_followers.start();
    avg_followers.start();
    tweets.start();

  }, 500);
</script>
</body>
</html>